{% extends 'adminpages/adminbase.html' %}
{% load humanize %}
{% block title %}Danh sách sản phẩm hiện có{% endblock %}


{% block content %}
<div class="container" style="margin-top:10px"> 
    <div class="row">
        <div class="col-md-12">
            <h3>Danh sách sản phẩm hiện có</h3><hr>
            <a href="{% url 'shop_app:adminproductcreate' %}">Thêm sản phẩm mới</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Giá cả</th>
                        <th>Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in allproducts %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.title}}</td>
                        <td><img src="{{p.image.url}}" style="height: 60px;" alt=""></td>
                        <td>{{p.selling_price| intcomma}} VND</td>
                        <td>{{p.view_count}} lượt xem</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
