{% extends 'adminpages/adminbase.html' %}
{% load humanize %}

{% block title %}Chi tiết đơn hàng{% endblock  %}

{% block content %}
<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Chi tiết đơn hàng</h3>
            <hr>
            <p><span class="font-weight-bold">Mã đơn hàng: </span> #ORDER_{{ord_obj.id}}</p>
            <p><span class="font-weight-bold">Trạng thái: </span> {{ord_obj.order_status}}</p>
            <p><span class="font-weight-bold">Đặt vào lúc: </span> {{ord_obj.created_at}}({{ord_obj.created_at|timesince}} ago)</p>
            <p><span class="font-weight-bold">Đặt bởi khách hàng: </span> Tên: {{ord_obj.ordered_by}} - SDT: {{ord_obj.mobile}}</p>
            <p><span class="font-weight-bold">Địa chỉ giao hàng: </span> By {{ord_obj.shipping_address}} ({{ord_obj.email}})</p>
            <p><span class="font-weight-bold">Phương thức giao hàng: </span> {{ord_obj.payment_method}} ({% if ord_obj.payment_completed %}Payment Completed{% else %}Thành toán khi nhận hàng{% endif %})</p>
            <hr>
            <h4>Danh sách sản phẩm</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in ord_obj.cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a target="_blank"
                                href="{% url 'shop_app:product_detail' cp.product.slug %}">{{cp.product.title}}({{cp.product.id}})</a>
                        </td>
                        <td>{{cp.rate| intcomma}} VND</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal| intcomma}} VND</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Thành tiền: </th>
                        <th>{{ord_obj.total| intcomma}} VND</th>
                    </tr>
                </tbody>
            </table>
            <form action="{% url 'shop_app:adminorderstatuschange' ord_obj.id %}" method="POST">
                {% csrf_token %}
                <select name="status">
                    {% for i, j in allstatus %}
                    <option value="{{i}}" {% if i == ord_obj.order_status %}selected{% endif %}>{{j}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-info">Thay đổi</button>
                
            </form>

        </div>
    </div>
</div>
{% endblock %}
