{% extends 'base.html' %}
{% load humanize %}

{% block title %}Thông tin đơn hàng {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Thông tin chi tiết đơn hàng</h3>
            <a href="{% url 'shop_app:my_cart' %}">Cập nhật giỏ hàng</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate| intcomma}} VND</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal| intcomma}} VND</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Thành tiền</th>
                        <th>{{cart.total| intcomma}} VND</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Checkout Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">Đặt hàng ngay</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}